<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <title>Indoor Occupancy Detection Visualization</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>
  <h1 align="center">Indoor Occupancy Detection Visualization</h1>

  <div id="container">
    <h2>1. Real Time Data Source Chart</h2>

    <div id="firstchart">
      <div class="input" id="input1">
        <!-- two column lying on left side of chart -->
        SubCarrier1:
        <input type="text" class="source" id="source1" value="1" ><br>
        SubCarrier2:
        <input type="text" class="source" id="source2" value="1" ><br>
        SubCarrier3:
        <input type="text" class="source" id="source3" value="1" >
      </div>

      <div class="chart" id="chart"></div>
    </div>

    <h2>2. Occupancy Detection</h2>

    <div id="secondchart">
      <div></div>
      <div class="input" id="input2">
				Data Source (0-2): <br>
				<!-- <select id="datasource">
					<option value="0">Source 1</option>
					<option value="1">Source 2</option>
					<option value="2">Source 3</option>
				</select> -->
				<input type="text" id="datasource" value="0" >
				<p id="alertbox"></p>
      </div>
      <div class="chart" id="chart2"></div>
    </div>
	</div>
	<defs>
			<marker
				id="arrowhead"
				markerUnits="strokeWidth"
				markerWidth="12"
				markerHeight="12"
				viewBox="0 0 12 12"
				refX="6"
				refY="6"
				orient="auto">
				<path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill:black;"></path>
			</marker>
		</defs>
  <!-- load the d3.js library -->
  <script src="../static/drawchart.js"></script>
  <script>
	var socket = io.connect('http:' + '//' + document.domain + ':' + location.port + "/test", {
			'reconnection': true,
			'reconnectionDelay': 1000,
			'reconnectionDelayMax' : 5000,
			'reconnectionAttempts': 5
	});

    const data = [];
    // const currentIndex = 0;
    // const limit = 50;

    socket.on("server_response", res => {
      data.push(res);
      updateData(data, true);
    });
  </script>
</body>
